/* header */

/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box; 
} 

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.65;
    padding: 2rem;
    background-color: #ffffff;
    color: #29344B;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}


/* description */

.smol-unbreakable-box {
    --color-light: #ffffffb7;
    --color-dark: #000000;

    margin: 2rem auto;
    color: var(--color-dark);
    background-color: var(--color-light);
    font-size: 1rem;
    /* Smol Responsive Padding FTW! */
    padding: clamp(.75rem, 3%, 2rem);
    /* Provide a max-width and prevent overflow */
    /*width: min(60ch, 90%);*/
    /* Help prevent overflow of long words/names/URLs */
    word-break: break-word;
    /* Optional, not supported for all languages */
    hyphens: auto;
    float: center;
    /* aligns box to the left*/
    width: 1350px;
    height: 300px;
}



/* submit buttion resume */

.button {
    background-color: #4a6484;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer; 
    float: center;
} 





