:root {
  --clr-surface: #f7f8fd;
  --clr-text: #040611;
  --clr-primary: #8157db;
  --clr-secondary: #000000;
  --clr-accent: #c357db;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-text: #f7f8fd;
    --clr-surface: #040611;
    --clr-primary: #8157db;
    --clr-secondary: #000000;
    --clr-accent: #c357db;
  }
}

/* header */

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

html {
  color-scheme: light dark;
}

img {
  max-width: 100%;
  display: block;
}


/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.65;
  background-color: rgb(235, 235, 251);
  color: #29344B;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.dark-mode {
  background-color: black;
  color: white;
}

button {
  cursor: pointer;
}

.line {
  border-bottom: 3px solid #8157db;
}

/* Hero Section */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (landingPage.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/landingPageImage.png");

  /* Set a specific height */
  min-height: 70vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
  color: white;
}

/* description */

.smol-unbreakable-box {
  --color-light: rgb(235, 235, 251);
  --color-dark: #8157db;

  max-width: 1000px;
  margin: 30px auto;

  /*margin: 3rem 10rem 2rem 10rem; */
  color: var(--color-dark);
  background-color: var(--color-light);
  font-size: 1rem;
  /* Smol Responsive Padding FTW! */
  padding: clamp(.75rem, 3%, 2rem);
  /* Provide a max-width and prevent overflow */
  /*width: min(60ch, 90%);*/
  /* Help prevent overflow of long words/names/URLs */
  word-break: break-word;
  /* Optional, not supported for all languages */
  hyphens: auto;
  float: center;
}



.hireButton {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 60%;
  background: #8157db;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  transition: all 0.3s;
  margin-top: 5px;
  font-weight: 600;
}

.button {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 28%;
  background: #8157db;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  transition: all 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

button {
  padding: 20px 0 15px 0;
}


input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid rgba(0, 0, 0, 0.389);
}