/* Could cassade to other  */
*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(235, 235, 251);
}
/* These will apply to not only the menu
/* title */

.title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Overpass Mono', monospace;
    text-decoration: underline;
}

/* horizontal threline nav bar */

.navbar {
    width: 60px;
    display: block;
    position: absolute;
    margin: 0px auto;
    border: 4px solid #8157db;
    padding: 8px 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.navbar div {
    height: 5px !important;
    background: #fff;
    margin: 7px 0px 7px 0px;
    border-radius: 25px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.two {
    width: 25px;
}

.three {
    width: 35px;
}

.navbar:hover div {
    width: 60px;
}


